@color-white-0          : #FFFFFF;
@color-white-1          : #fbf9fe;

@color-gray-0           : #dedede;
@color-gray-1           : #f9f9f9;
@color-gray-2           : #999999;

@color-green-0          : #7ecbc3;
@color-green-1          : #00a392;

@color-black-1          : #000000;

@font-m                 : 28rpx;
