@color-white-0          : #FFFFFF;
@color-white-1          : #fbf9fe;

@color-gray-0           : #dedede;
@color-gray-1           : #f9f9f9;
@color-gray-2           : #999999;
@color-gray-3           : #eaeaea;
@color-gray-4           : #dfdfdf;

@color-green-0          : #7ecbc3;
@color-green-1          : #00a392;

@color-black-1          : #000000;
@color-black-2          : #666666;
@color-black-3          : #636363;

@color-red-0            : #ff6600;
@color-red-1            : #f3a6c6;
@color-red-2            : #EA639B;

@color-sun              : #f4ea2a;
@color-cloud            : #b0ccf4;
@color-snow             : #b0ccf4;
@color-boy              : #1296db;
@color-girl             : #fb69a7;

@font-m                 : 28rpx;
@font-l                 : 36rpx;
